:root {
  --Grey:#F8F8F8;
  --GreyHover:#9e9ea2;
  --white:#FFFFFF;
  --whiteHover:#f9f9f9;
  --darkText:#1B1C21;
  --textHover:#5f5f63;
  --lightText:#7E7E82;
  --lightTextv2:#69696d;
  --pink:#FF3E79;
  --pinkHover:#ee398a;
  --green:#41F6D7;
  --greyDivider:#EAEAEA;
  --borderColorGreen:#D9FFF5;
  --sliderBorder:#B8FFEC;
  --paginationBulletActive:#B5B6BC;
  --greyDark:#6B7B84;
  --greyLight:#F2F2F2;
}
